

body{
	font-size: 14px;
	font-family: "Work Sans", sans-serif;
	background-color: rgb(255, 242, 242);
	color: rgb(32, 64, 86);
}

.container{
	padding-top: 5.25rem;
}

h1{
	font-size: 4rem;
}

h2{
	font-size: 2rem
}

h1, h2{ 
	font-weight: bold;
}

.card{
	display: flex;
	height: 12.5rem;
	background-color: rgb(32, 64, 86);
	border: 4px solid #ffffff;
	border-radius: 8px;
	color: rgb(255, 255, 255);
	justify-content: center;
	align-items: center;
	font-weight: 900;
	font-size: 7rem;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

#secret{
	color: #fc027f;
	font-size: 3rem;
	display: none;
}